{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'front/img/apple-icon.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'front/img/favicon.png' %}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Blog - Islampedia</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link href="{% static 'bootstrap3/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'front/css/gsdk.css' %}" rel="stylesheet"/>
    <link href="{% static 'front/css/examples.css' %}" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'front/css/pe-icon-7-stroke.css' %}" rel="stylesheet" />
</head>

<body class="blog-page">

<nav class="navbar navbar-inverse navbar-transparent navbar-fixed-top" role="navigation">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    {% comment %} <div class="navbar-header">
      <button id="menu-toggle" type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar bar1"></span>
        <span class="icon-bar bar2"></span>
        <span class="icon-bar bar3"></span>
      </button>
      <a class="navbar-brand" href="http://gsdk.creative-tim.com"><i class="fa fa-chevron-left"></i> Back to Kit</a>
    </div> {% endcomment %}

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
        <ul  class="nav navbar-nav navbar-right">
              <li>
                  <a href="{% url 'home' %}">
                       Home
                  </a>
              </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Blog
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-with-icons">
                        <li>
                            <a href="{% url 'sholat' %}">
                                <i class="pe-7s-comment"></i> Jadwal Sholat
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'doa' %}">
                                <i class="pe-7s-news-paper"></i> Doa-Doa Harian
                            </a>
                        </li>
                    </ul>
                </li>
            <li>
                <a href="{% url 'about_us' %}">
                     About Me
                </a>
            </li>
            <li>
                {% if request.user.is_anonymous %}
                    <a href="{% url 'login' %}" class="btn btn-round btn-default">Login</a>
                {% else %}
                    <a href="{% url 'dashboard' %}" class="btn btn-round btn-default">Dashboard</a>
                {% endif %}
            </li>
         </ul>
  
      </div><!-- /.navbar-collapse -->
  </div>
</nav>

<div class="wrapper">
    <div class="parallax filter-black">
        <div class="parallax-image">
            <img src="{% static 'front/img/blabla.png' %}" alt="..." />
        </div>
        <div class="small-info">
            <h1>Islampedia</h1>
            <h3>Scroll down untuk melihat Doa Sehari-hari</h3>
        </div>
    </div>

     {% comment %} <div class="social-line social-line-black">
         <div class="container">
            <div class="row">
                 <div class="col-md-2 col-md-offset-2">
                     <a href="" class="btn btn-simple btn-social btn-neutral">
                         <i class="fa fa-facebook-square"></i> Share &middot; 753
                     </a>
                 </div>
                  <div class="col-md-2">
                     <a href="" class="btn btn-simple btn-social btn-neutral">
                         <i class="fa fa-twitter"></i> Tweet &middot; 832
                     </a>
                 </div>
                  <div class="col-md-2">
                     <a href="" class="btn btn-simple btn-social btn-neutral">
                         <i class="fa fa-google-plus-square"></i> Post &middot; 131
                     </a>
                 </div>
                 <div class="col-md-2">
                     <a href="" class="btn btn-simple btn-social btn-neutral">
                         <i class="fa fa-pinterest"></i> Pin it &middot; 323
                     </a>
                 </div>
            </div>
         </div>
     </div> {% endcomment %}
    <br><hr>
    <center><h1> Daftar Doa Doa Harian </h1></center>
    {% for a in doa %}
    <center><div class="mdk-body-paragraph paging-content elementimpressions-initialized" data-paging_num="2">
        <center><h2 class="title-dt-paging">{{a.id}}. {{a.doa}}</h2></center>
        
            <center><h2><p style="">{{a.ayat}}</p></h2></center>
                <center><p style=""><em>{{a.latin}}</em></p></center>
                    <center><p style="">Artinya: "{{a.artinya}}"</p></center>
                        <center><p style=""></p><p></p><div style="margin: 30px 0"></center>
      </div>
    </div></center>
    {% endfor %}



   <footer class="footer footer-big">
        <!-- .footer-black is another class for the footer, for the transparent version, we recommend you to change the url of the image with your favourite image.          -->

        {% comment %} <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h5 class="title">Company</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#" >
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   Find offers
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Discover Projects
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Our Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    About Us
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <h5 class="title"> Support</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">
                                   Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   How it works
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   24/7 Available
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   We are hiring
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   Send Info
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3">
                    <h5 class="title"> Help</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">
                                   Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Terms & Conditions
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company Policy
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   Money Back
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div> {% endcomment %}

                 {% comment %} <div class="col-md-3">
                    <h5 class="title">Latest News</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#" >
                                   <i class="fa fa-twitter"></i> <b>Islampedia</b>
                                   "Islam" dalam bahasa Arab adalah bentuk kata benda infinitif kuadri-literal (maṣdar rubā‘ī). Bentuk kata kerja sempurna aktif triliteralnya (fi‘l māḍi ṡulaṡī mabnī ma‘lūm) adalah salima (سلم, "selamat").
                                   <hr class="hr-small">
                                </a>
                            </li>
                            <li> {% endcomment %}
                                  {% comment %} <a href="#" >
                                   <i class="fa fa-twitter"></i>
                                   We've just been featured on <b> Awwwards Website</b>! Thank you everybody for... {% endcomment %}
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>

            </div>
            <hr />
            <div class="copyright">
                &copy; Create by Ridwan Jumriadi/2011102441157
            </div>
        </div>
    </footer>


</div> <!-- wrapper -->
</body>
    <!--  jQuery and Bootstrap core files    -->
    <script src="{% static 'front/js/jquery.js' %}" type="text/javascript"></script>
	<script src="{% static 'front/js/jquery-ui.custom.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'bootstrap3/js/bootstrap.min.js' %}" type="text/javascript"></script>

	<!--  Plugins -->
	<script src="{% static 'front/js/gsdk-checkbox.js' %}"></script>
	<script src="{% static 'front/js/gsdk-morphing.js' %}"></script>
	<script src="{% static 'front/js/gsdk-radio.js' %}"></script>
	<script src="{% static 'front/js/gsdk-bootstrapswitch.js' %}"></script>
	<script src="{% static 'front/js/bootstrap-select.js' %}"></script>
	<script src="{% static 'front/js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'front/js/chartist.min.js' %}"></script>
    <script src="{% static 'front/js/jquery.tagsinput.js' %}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <!--  Get Shit Done Kit PRO Core javascript 	 -->
	<script src="{% static 'front/js/get-shit-done.js' %}"></script>

    <script type="text/javascript">
        var big_image;
        $().ready(function(){
            responsive = $(window).width();

            $(window).on('scroll', gsdk.checkScrollForTransparentNavbar);

            if (responsive >= 768){
                big_image = $('.parallax-image').find('img');

                $(window).on('scroll',function(){
                    parallax();
                });
            }

        });

       var parallax = function() {
            var current_scroll = $(this).scrollTop();

            oVal = ($(window).scrollTop() / 3);
            big_image.css('top',oVal);
        };

    </script>

    <!-- If you are using TypeKit.com uncomment this code otherwise you can delete it -->
    <!--
    <script src="https://use.typekit.net/[your kit code here].js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    -->

    <!-- If you have retina @2x images on your server which can be sent to iPhone/iPad/MacRetina, please uncomment the next line, otherwise you can delete it -->
	<!-- <script src="assets/js/retina.min.js"></script> -->

</html>
